<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<img class="logo-page" src="{{ asset('build/images/logo.png') }}" alt="Logo" width="100" height="100"/>
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/">ACCUEIL</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/program/">MA WATCHLIST</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">A PROPOS DE NOUS</a>
				</li>
				<li class="nav-item">
					<a class="nav-link title">WILD SERIES</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						MENU
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<li>
							<a class="dropdown-item" href="#">Toutes les séries</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Nouveautés</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Les plus likées</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Les plus récentes</a>
						</li>

						<li>
							<a class="dropdown-item" href="#">Par genre</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Par titre</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Par réalisateurs</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Par acteurs</a>
						</li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">SE CONNECTER</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">S'INSCRIRE</a>
				</li>
			</ul>
		</div>
	</div>

</nav>
